.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.topo-header {
    display: flex;
    background-color: #3877C9;
    width: 100%;
    height: 3.125rem;
    color: #fff;
    align-items: center;
}

.tittle-header {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    width: 60%;
}   

.brasil-yellow {
    color: #FAFF00;
}

.tittle-header-2 {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin: 1rem;
}

.topo-header-2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #313131;
    height: 3.75rem;
    align-items: center;
}

.localizacao {
    color: #a0a0a0;
    font-size: 0.8rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-left: 1rem;
}

.localizacao img {
    margin-right: 0.5rem;
}

.logo {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #074291;
    position: absolute;
    font-family: var(--font-logo-2);
    color: #fff;
    font-size: 2rem;
}

.container-carrinho-login {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.carrinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
}

.carrinho .topo-carrinho{
    display: flex;
    justify-content: center;
}

.carrinho .rodape-carrinho{
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
}

.login .topo-login{
    display: flex;
    justify-content: center;
}

.login .rodape-login{
    display: flex;
    justify-content: center;
}



.header-navegation {
    width: 100%;
    background-color: #313131;
}

.header-menu {
    display: flex;
    justify-content: space-evenly;
    height: 3.75rem;
    align-items: center;
    border: 0.0625rem solid;
}

a {
    color: #FFFFFF;
}

.header-menu > li > a {
    font-size: 1.5rem;
    font-weight: 600;
}

.carrossel {
    position: relative;
    height: 500px;
}

.banner {
    position: absolute;
    width: 100%;
}

.banner.selecionado {
    opacity: 1;
    z-index: 1;
}

.banner img{
    width: 100%;
}

.list-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-itens .titulo-novidades{
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.card {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 20rem;
    color: white; 
    margin-right: 1rem;
    margin-left: 1rem;
}

.list-itens li img{
    width: 20rem;
    margin: 0;
}

#card1:hover{
    border: 3px solid #93C1FD;
}

#card2:hover{
    border: 3px solid #93C1FD;
}









