.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.topo-header {
    display: flex;
    background-color: #3877C9;
    width: 100%;
    height: 1.70rem;
    color: #fff;
    align-items: center;
}

.tittle-header {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    width: 60%;
}   

.brasil-yellow {
    color: #FAFF00;
}

.tittle-header-2 {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.topo-header-2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #313131;
    height: 3.3rem;
    align-items: center;
}

.localizacao {
    color: #a0a0a0;
    font-size: 0.8rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-left: 1rem;
}

.localizacao img {
    margin-right: 0.5rem;
}

.logo {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #074291;
    position: absolute;
    font-family: var(--font-logo-2);
    color: #fff;
    font-size: 2rem;
}

.container-carrinho-login {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.carrinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
}

.carrinho .topo-carrinho{
    display: flex;
    justify-content: center;
}

.carrinho .rodape-carrinho{
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
}

.login .topo-login{
    display: flex;
    justify-content: center;
}

.login .rodape-login{
    display: flex;
    justify-content: center;
}



.header-navegation {
    width: 100%;
    height: 3rem;
    background-color: #313131;
    border: 0.0625rem solid rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 10rem;
}

a {
    color: #FFFFFF;
}

.header-menu > li > a {
    font-size: 1rem;
    font-weight: 600;
}

.carrossel {
    position: relative;
    height: 500px;
}

.banner {
    position: absolute;
    width: 100%;
}

.banner.selecionado {
    opacity: 1;
    z-index: 1;
}

.banner img{
    width: 100%;
}

#mostruario-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    margin-top: -5rem;
}

#mostruario-card h1{
    width: 100%;
    font-weight: 500;
    font-size: 1.80rem;
    margin-bottom: -0.2rem;
}

.card{
    background-color: black;
    color: white;
    border: 2px solid grey;
    width: 16.70rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card header{
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: center;
}

#card-01 img{
    height: 14rem;
}

#card-03 img{
    height: 12rem;
}

.card img{
    margin-top: 1rem;
    height: 13rem;
}


.card footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
}

.card footer h3{
    font-weight: 500;
    font-size: 1.7rem;
}

.card footer p{
    font-weight: 300;
}

.card footer span{
    color: #93C1FD;
}

.black-friday{
    height: 33rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.black-friday h2{
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1.0rem;
}

.card-black-friday header{
    display: flex;
    justify-content: center;
}

.black-friday img{
    width: 83%;
}

#cards-black-friday{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.div-footer-article-01{
    gap: 1rem;
    display: flex;
    margin-bottom: 0.70rem;
}

#sp-01{
    color: white;
    background-color: #D93A1E;
    width: 3rem;
    padding: 0.20rem;
    border-radius: 0.20rem;
    font-size: 0.80rem;
    text-align: center;
}

#sp-02{
    color: white;
    background-color: #313131;
    border-radius: 0.20rem;
    width: 6rem;
    padding: 0.20rem;
    border-radius: 0.20rem;
    font-size: 0.80rem;
    text-align: center;
}

#small-02{
    color: grey;
    text-decoration: line-through;
}

#banner-whatsapp {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
#banner-whatsapp img{
    width: 83%;
}

#footer{
    margin-top: 3rem;
    background-color: #DCDCDC;
    padding: 2.5rem;
    display: flex;
    justify-content:space-around;
    gap: 4rem;
}

#div_footer01 ul li{
    margin-bottom: 2.8rem;
    text-decoration: underline
}

#div_footer02{
    flex-grow: 0.70;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#div_footer02 h4{
    width: 100%;
    text-decoration: underline
}

#div_footer02 ul{
    margin-top: -1rem;
    font-size: 0.70rem;
}

#div_footer02 ul li{
    margin-bottom:1rem;
}

#div_footer03 ul li{
    font-size: 0.70rem;
}

#div_footer04 div *{
    width: 2rem;
    margin-bottom: 2.8rem;
}

#div_footer04 h4{
    margin-bottom: 1rem;
}